<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/navbar.html :: header( title = 'Empleados')}"></head>
    <body>
        <div class="container">
            <nav th:replace="~{fragments/navbar.html :: navbar( active = 'Employee')}"></nav>
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2>Editar Empleado</h2>
                    <hr/>
                    <form th:action="@{'/employee/save'}" method="post" th:object="${employee}">
                        <input th:field="*{employeeId}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class="form-control" th:field="*{firstName}" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Apellido</label>
                            <input type="text" class="form-control" th:field="*{lastName}" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Puesto</label>
                            <input type="text" class="form-control" th:field="*{job.jobTitle}" disabled/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Departamento</label>
                            <input type="text" class="form-control" th:field="*{department.departmentName}" disabled/>
                        </div>
                        <input th:name="department_id" th:value="${employee.department.departmentId}" type="hidden"/>
                        <div class="mb-3">
                            <label class="form-label">Ciudad</label>
                            <select class="form-select" name="location_id" id="location_id">
                                <option th:each="city : ${cities}"
                                        th:selected="${employee.department.location.city == city.city}"
                                        th:text="|Ciudad: ${city.city} -- Dirección: ${city.streetAddress}|"
                                        th:value="${city.locationId}"></option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Código postal</label>
                            <input type="text" class="form-control" th:field="*{department.location.postalCode}"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Salario</label>
                            <input type="text" class="form-control" th:field="*{salary}" disabled/>
                        </div>
                        <a th:href="@{'/employee'}" class="btn btn-danger">Cancelar</a>
                        <button type="submit" class="btn btn-primary">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
        <script th:replace="~{fragments/navbar.html :: footer-bootstrap}"></script>
    </body>
</html>